.inline-label {
  border-bottom: 2px dashed #a0a0a0;
  padding: .375rem 0;
  font-weight: 500;
  cursor: pointer;
}

.inline-text-label {
  height: calc(1.5em + .75rem + 2px);
}

.inline-textarea-label {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.placeholder {
  color: #a0a0a0;
  font-style: italic;
}

.error {
  color: #850101;
  padding: 0.3rem 0;
  font-size: 0.85rem;
}

.busy-svg {
  pointer-events: none;
  margin: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .busy-svg {
    animation: busy-svg-spin infinite 5s linear;
  }
}

@keyframes busy-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
