@import './variables.scss';

$body-bg: $dark;
$body-color: $primary;
$navbar-light-brand-color: $dark;

$input-bg: $light;
$input-color: $dark;

$table-bg-scale: -85%;

$modal-content-color: $dark;
$modal-content-bg: $light;

// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';


.form-control:focus {
  background-color: scale-color($primary, $table-bg-scale);
  color: $body-bg;
}

.list-group-item {
  cursor: pointer;
}

.navbar-brand {
  margin-left: 0.3125rem;
}
