$primary: #f5b342;
$dark: #424242;
$light: #fef4e3;

$subtle: #c4c4c4;
$error: #f76767;

$highlight: #fad9a1;
$highlight-shadow: #f5b34240;

@mixin tabbable {
  border-color: $highlight;
  outline: 0;
  box-shadow: 0 0 0 0.25rem $highlight-shadow;
  border-radius: 0.25rem;
}
