@import "./_variables.scss";

$body-bg: $dark;
$body-color: $primary;

$input-bg: $light;
$input-color: $dark;

$table-bg-scale: -85%;

$modal-content-color: $dark;
$modal-content-bg: $light;

$breadcrumb-divider: quote(">");
$breadcrumb-divider-color: $light;

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

.form-control:focus {
  color: $input-color;
}

.list-group-item {
  color: $dark;
}

.list-group-item,
link {
  cursor: pointer;
}

// Global scss

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@include media-breakpoint-up(lg) {
  .fs-0-lg {
    font-size: 6rem;
  }
}

.breadcrumb {
  margin: auto auto 0 0.5rem;
  background-color: transparent;

  .breadcrumb-item {
    color: $light;
    a {
      transition: color 0.1s ease-in;
      color: $primary;
      &:hover {
        color: $light;
      }
    }
  }
}
