$subtle: #c4c4c4;
$error: #f76767;
$highlight: #fad9a1;
$highlight-shadow: #f5b34240;

.inline-label {
  border-bottom: 2px dashed $subtle;
  padding: 0.375rem 0;
  font-weight: 500;
  cursor: pointer;
}

.inline-label:focus {
  border-color: $highlight;
  outline: 0;
  box-shadow: 0 0 0 0.25rem $highlight-shadow;
  border-radius: 0.25rem;
}

.inline-text-label {
  height: calc(1.5em + 0.75rem + 2px);
}

.inline-textarea-label {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.placeholder {
  color: $subtle;
  font-style: italic;
}

.error {
  color: $error;
  padding: 0.3rem 0;
  font-size: 0.85rem;
}

.busy-svg {
  pointer-events: none;
  margin: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .busy-svg {
    animation: busy-svg-spin infinite 5s linear;
  }
}

@keyframes busy-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
