@import "../variables.scss";

.inline-label {
  border-bottom: 2px dashed $subtle;
  margin: 1rem 0 0 0;
  font-weight: 500;
  word-wrap: break-word;
  cursor: pointer;
}

.inline-label:focus {
  @include tabbable;
}

.inline-textarea-label {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.placeholder {
  color: $subtle;
  font-style: italic;
}

.help-text,
.error,
.btn-link {
  margin: 0.3rem 0 0 0;
  font-size: 0.85rem;
}

.btn-link {
  vertical-align: bottom;
  padding: 0;
  text-decoration: none;
}

.help-text {
  color: $subtle;
}

.error {
  color: $error;
}

.busy-svg {
  pointer-events: none;
  margin: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .busy-svg {
    animation: busy-svg-spin infinite 5s linear;
  }
}

@keyframes busy-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
