@import "./variables.scss";

.inline-label {
  border-bottom: 2px dashed $subtle;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    @include tabbable;
  }
}

.inline-text-label {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.inline-form-label {
  margin: 1.5rem 0 0 0;
}

.placeholder {
  color: $subtle;
  font-style: italic;
}

.busy-svg {
  pointer-events: none;
  margin: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .busy-svg {
    animation: busy-svg-spin infinite 5s linear;
  }
}

@keyframes busy-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
