@import "./_variables.scss";

aside:focus,
aside:focus-within {
  @include tabbable;

  section {
    text-decoration: underline;
  }
}

.search-field {
  margin-bottom: 1rem;
  border-bottom: 2px solid $primary;
}
